modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
MARZBAN_URL = "http://127.0.0.1:8000"
MARZBAN_USERNAME = "MoHmmeD9"
MARZBAN_PASSWORD = "Zvh8711nj"
REALITY_PUBLIC_KEY = "YeWI99AQZ1fc6ZP18lwcrOOMZaifGKdjcHSD9EuGTXg"
REALITY_SHORT_ID = "0123456789abcdef"
REALITY_SERVER_NAME = "yahoo.com"
VPN_SERVER_DOMAIN = "mohmmedvpn.com"
VPN_SERVER_PORT = "8443"
OWNER_EMAIL = "it.mohmmed@yahoo.com"
